<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="s	qldb.transport" type="Monaco.Transports.DB.Configuration.ConfigurationSectionHandler, Monaco.Transports.DB"/>
	</configSections>

	<!-- sqldb.transport setting definitions:
	Please note that this will use integrated security if the user name or password are not supplied.
	user.name =  user that will connect to the server 
	user.password = password for user to connect to the server
	server.name = name of the SQL database server
	catalog.name = name of the database instance on the server
	auto.delete (optional. default is false) = should the messages be removed after successful processing.
	-->
	<sqldb.transport
		user.name=""
	  user.password=""
	  server.name=""
		catalog.name=""
		auto.delete="" />
	
</configuration>