<castle>

	<facilities>

		<facility id="monaco.esb">

			<message-bus
				threads="2"
				retries="3"
				endpoint="rabbitmq://local.bus"
				error="rabbitmq://local.error"
				log="rabbitmq://local.log">

			</message-bus>

			<rabbitmq.transport>

				<!-- user that will connect to the server -->
				<user.name>rabbit</user.name>

				<!-- user password that will be used to connect to the server -->
				<user.password>rabbit</user.password>

				<!-- name of the server process that will host the exhange for queues -->
				<host.name>localhost</host.name>

				<!-- name of the location that will server as the routing point for a collection of queues. -->
				<exchange.name>rabbit</exchange.name>

			</rabbitmq.transport>

		</facility>

	</facilities>
</castle>