<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="file.transport" type="Monaco.Transports.File.Configuration.ConfigurationSectionHandler, Monaco.Transports.File"/>
	</configSections>

	<file.transport>
		
		<!--name that will be appended to the end of the file when processed (only used when auto.delete is false) -->
		<processed.file.extension></processed.file.extension>

		<!-- file extention that will be used for all messages that are delivered to a file directory via the file transport -->
		<send.file.extension></send.file.extension>

		<!-- file extension that will be used for receiving messages from the indicated file directory location.  -->
		<receive.file.extension></receive.file.extension>

		<!-- directory that the processed files will be moved to -->
		<move.to.directory></move.to.directory>

		<!-- signals the transport to remove messages from the queue when completed processing (true, false) -->
		<auto.delete></auto.delete>
		
	</file.transport>
	
</configuration>