<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="rabbitmq" type="Monaco.Transports.RabbitMQ.Configuration.ConfigurationSectionHandler, Monaco.Transports.RabbitMQ"/>
	</configSections>

	<!-- 
	RabbitMQ transport settings 
	===============================================================================================
	username (required) = the name of the user configured to access the exchange for sending/receiving messages
	password (required) = the password for the user account to access the exchange
	host (required) = name of the server process that will host the exhange for queues 
	exchange (required) = name of the location that will server as the routing point for a collection of queues.
	port (required) = port that the exchange will listen to for messages. [port 8080 is the default]
	protocol (required) = textual version of the available protocols for AMQP ("AMQP_0_8", "AMQP_0_8_QPID", "AMQP_0_9" or "AMQP_0_9_1" [AMQP_0_9_1 is the default]
	-->
	<rabbitmq
		username=""
		password=""
		host=""
		exchange=""
		port=""
		protocol=""
		/>
	
</configuration>