<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="monaco.storage.session-factory">
    <!-- properties -->
    <!-- SQL CE 
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlServerCeDriver</property>
    <property name="connection.connection_string">Data Source=local.sdf;</property>
    <property name="show_sql">true</property>
    <property name="dialect">NHibernate.Dialect.MsSqlCeDialect</property>
    <property name="use_outer_join">true</property>
    <property name="command_timeout">444</property>
    <property name="query.substitutions">true 1, false 0, yes 1, no 0</property>
    <property name='proxyfactory.factory_class'>NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
    <mapping assembly="Monaco.NHibernate.Storage"/>
    -->
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">Server=.\SQLEXPRESS;initial catalog=monaco;Integrated Security=SSPI</property>
    <property name="show_sql">true</property>
    <property name="use_outer_join">true</property>
    <property name="command_timeout">444</property>
    <property name="query.substitutions">true 1, false 0, yes 1, no 0</property>
    <property name='proxyfactory.factory_class'>NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
    <mapping assembly="Monaco.Storage.NHibernate"/>
  </session-factory>

</hibernate-configuration>
