<castle>
	<!-- uses internal virtual transport (in-memory) for testing -->
	<facilities>

		<facility id="monaco.esb">

			<message-bus
				threads="1"
				retries="5"
				endpoint="vm://local.service.bus"
				error="vm://error.queue">
	
			</message-bus>

			<messages>
				<add name="Monaco.Tests" endpoint="vm://local.service.bus"/>
			</messages>
			
			<nhibernate.storage>
				
				<!-- maps to 'connection.provider' for nhibernate configuration -->
				<connection.provider>NHibernate.Connection.DriverConnectionProvider</connection.provider>

				<!-- maps to 'connection.driver_class' for nhibernate configuration -->
				<connection.provider.driver>NHibernate.Driver.SqlClientDriver</connection.provider.driver>

				<!-- maps to 'connection.connection_string' for nhibernate configuration-->
				<connection.connection.string>Server=.\SQLEXPRESS;initial catalog=monaco;Integrated Security=SSPI</connection.connection.string>
				
				<!-- maps to 'show.sql' for nhibernate configuration -->
				<connection.show.sql>true</connection.show.sql>

				<!-- maps to 'dialect' for nhibernate configuration -->
				<connection.dialect>NHibernate.Dialect.MsSql2005Dialect</connection.dialect>

				<!-- maps to 'use_outer_join' for nhibernate configuration -->
				<connection.use.outer.join>true</connection.use.outer.join>

				<!-- maps to 'command_timeout' for nhibernate configuration -->
				<connection.command.timeout>444</connection.command.timeout>

				<!-- maps to 'query.substitutions' for nhibernate configuration -->
				<connection.query.substitutions>true 1, false 0, yes 1, no 0</connection.query.substitutions>

				<!-- maps to 'proxyfactory.factory_class' for nhibernate configuration -->
				<connection.proxy.factory>NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</connection.proxy.factory>

				<!-- maps to 'mapping assembly={}' for nhibernate configuration -->
				<connection.mapping.assembly>Monaco.NHibernate.Storage.Tests</connection.mapping.assembly>
				 
			</nhibernate.storage>
			
		</facility>
		
	</facilities>
</castle>