<castle>
	<facilities>

		<facility id="monaco.distributor">

			<worker.pools>
				<worker.pool endpoint="msmq://localhost/load.balanced.endpoint.1" threads="4" requests="10">
					<!--
					<worker endpoint="msmq://localhost/load.worker1" weight="30" requests="10"/>
					<worker endpoint="msmq://localhost/load.worker2" weight="20" requests="10"/>
					<worker endpoint="msmq://localhost/load.worker3" weight="25" requests="10"/>
					-->
					<worker endpoint="msmq://localhost/load.worker1" weight="30" />
					<worker endpoint="msmq://localhost/load.worker2" weight="20" />
					<worker endpoint="msmq://localhost/load.worker3" weight="25" />
					<worker endpoint="msmq://localhost/load.worker4" weight="15" />
				</worker.pool>
				<!--
				<worker.pool endpoint="msmq://localhost/load.balanced.endpoint.2" threads="2" maxrequests="200">
					<worker endpoint="msmq://localhost/load.worker11" weight="50" requests="10"/>
					<worker endpoint="msmq://localhost/load.worker22" weight="60" requests="30"/>
				</worker.pool>
				-->
			</worker.pools>
			
		</facility>

	</facilities>
</castle>
