<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="sqldb.transport" type="Monaco.Transports.DB.Configuration.ConfigurationSectionHandler, Monaco.Transports.DB"/>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
	</configSections>

	<!-- used to define the behavior of the message bus (note that error and bus endpoints must match for transport type)-->
	<castle>
		<facilities>
			<facility id="monaco.esb">
				<message-bus
				threads="2"
				retries="3"
				endpoint="sqldb://local.bus"
				error="sqldb://local.error"
				log="sqldb://local.log">
				</message-bus>
			</facility>
		</facilities>
	</castle>

	<!-- sqldb.transport setting definitions:
	Please note that this will use integrated security if the user name or password are not supplied.
	user.name =  user that will connect to the server 
	user.password = password for user to connect to the server
	server.name = name of the SQL database server
	catalog.name = name of the database instance on the server
	auto.delete (optional. default is false) = should the messages be removed after successful processing.
	-->
	<sqldb.transport
		user.name=""
	  user.password=""
	  server.name=".\SqlExpress"
		catalog.name="monaco"
		auto.delete="true" />

</configuration>
