<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="file.transport" type="Monaco.Transports.File.Configuration.ConfigurationSectionHandler, Monaco.Transports.File"/>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
	</configSections>

	<!-- used to define the behavior of the message bus (note that error and bus endpoints must match for transport type)-->
	<castle>
		<facilities>
			<facility id="monaco.esb">
				<message-bus threads="1" retries="5" error="file://c:\temp\error" endpoint="file://c:\temp\local.bus">
				</message-bus>
			</facility>
		</facilities>
	</castle>

	<!-- file transport settings 
processed.file.extension (optional) = name that will be appended to the end of the file when processed (only used when auto.delete is false) 
send.file.extension (optional) = file extention that will be used for all messages that are delivered to a file directory via the file transport 
receive.file.extension (optional) = file extension that will be used for receiving messages from the indicated file directory location.  
move.to.directory (optional) = directory that the processed files will be moved to 
auto.delete (default is false) = signals the transport to remove messages from the queue when completed processing (true, false) 
-->
	<file.transport
		processed.file.extension=".prd"
		send.file.extension=".snd"
		receive.file.extension=".rcv"
		move.to.directory="c:\temp"
		auto.delete="true"
		>
	</file.transport>

</configuration>
