<castle>

	<components />

	<facilities>

		<facility id="monaco.esb">

			<message-bus
					threads="1"
					max-retries="5"
					status-interval="00:00:60"
          status-interval-grace-period="00:00:05"
					error="msmq://localhost/error.queue"
					endpoint="msmq://localhost/local.service.bus.correlated.saga">
				<!--<transport type="Monaco.Transports.Msmq.MsmqTransport" transactional="true"/>-->
			</message-bus>

			<messages>
				<add name="Monaco.Tests"/>
			</messages>

			<storage>
				<subscriptions type=""/>
				<timeouts type="" />
				<sagas type=""/>
				<saga-data type="" />
			</storage>

		</facility>
	</facilities>
</castle>