<castle>

	<components />

	<facilities>

		<facility id="monaco.esb">

			<message-bus
					threads="1"
					max-retries="3"
					error="msmq://localhost/error.queue"
					endpoint="msmq://localhost/local.service.bus.saga">
			</message-bus>

			<messages>
				<add name="Monaco.Tests" endpoint="msmq://localhost/local.service.bus.saga"/>
			</messages>

		</facility>
	</facilities>
</castle>