<castle>
	
	<facilities>
	
		<facility id="monaco.esb">

			<message-bus
				threads="1"
				retries="5"
				endpoint="vm://messages"
				error="vm://error">
								
			</message-bus>			
			
			<messages>
				<add name="Monaco.Tests" endpoint="vm://tests" />
			</messages>
			
		</facility>
		
	</facilities>
</castle>