<castle>
	
	<facilities>
	
		<facility id="monaco.esb">

			<message-bus
				threads="2"
				retries="3"
				endpoint="sqldb://local.bus"
				error="sqldb://local.error"
				log="sqldb://local.log">
								
			</message-bus>

			<sqldb.transport>

				<!-- 
				using integrated security if user name and password are not provided 
				<user.name></user.name>
				<user.password></user.password>
				-->

				<server.name>.\SqlExpress</server.name>

				<!-- name of the database  -->
				<catalog.name>monaco</catalog.name>

				<!-- signals the transport to remove messages from the queue when completed processing (true, false) -->
				<auto.delete>true</auto.delete>

			</sqldb.transport>
			
			<messages>
				<add name="Monaco.Tests" endpoint="sqldb://local.bus"/>
			</messages>
			
		</facility>
		
	</facilities>
</castle>