<castle>
	<facilities>
		<facility id="monaco.esb">

			<message-bus
						threads="1"
						retries="5"
						error="msmq://localhost/error.queue"
						endpoint="msmq://localhost/remote.domain.bus">
				
				<heartbeat interval="00:00:60" grace-period="00:00:30" />
				
			</message-bus>

			<messages>
				<add name="Monaco.Tests.Messages"/>
			</messages>
			
		</facility>
	</facilities>
</castle>